<!-- views/users.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <% include head %>
    <link rel="stylesheet" href="/stylesheets/eventX.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>

</head>
<body>

<header>
    <% include nav %>
</header>

<% events.forEach((event) => { %>


<div class="row">
    <div class="cardX card">
        <div class="wrapper" style="background:url('/img/<%= event.id %>');background-size:cover">
            <div class="header">
                <div class="date">
                    <span class="day">13</span>
                    <span class="month">Mar</span>
                    <span class="year">2018</span>
                </div>
                <ul class="menu-content">
                    <li>
                        <a href="#" class="fa fa-bookmark-o"></a>
                    </li>
                    <li><a href="#" class="fa fa-heart-o"><span>130</span></a></li>
                    <li><a href="#" class="fa fa-comment-o"><span>13</span></a></li>
                </ul>
            </div>
            <div class="data">
                <div class="content">
                    <span class="author">Lorem Ipsum</span>
                    <h1 class="title"><a href="#"><%= event.title %></a></h1>
                    <p class="text"><%= event.description %></p>
                    <a href="#" class="button">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</div>






<% }) %>



        <div class="container-fluid">


            <div class="row">

                <div class="cardX card">
                    <div class="wrapper">
                        <div class="header">
                            <div class="date">
                                <span class="day">13</span>
                                <span class="month">Mar</span>
                                <span class="year">2018</span>
                            </div>
                            <ul class="menu-content">
                                <li>
                                    <a href="#" class="fa fa-bookmark-o"></a>
                                </li>
                                <li><a href="#" class="fa fa-heart-o"><span>130</span></a></li>
                                <li><a href="#" class="fa fa-comment-o"><span>13</span></a></li>
                            </ul>
                        </div>
                        <div class="data">
                            <div class="content">
                                <span class="author">Lorem Ipsum</span>
                                <h1 class="title"><a href="#">Spring Run</a></h1>
                                <p class="text">It's not spring but I just want to name it spring. Blame it on spotify playlists.</p>
                                <a href="#" class="button">Find out more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="cardX card">
                    <div class="wrapper" style="background:url(http://files.www.fleetfeetsanfrancisco.com/news/MetaRun_Running__2.jpg);background-size:cover">
                        <div class="header">
                            <div class="date">
                                <span class="day">19</span>
                                <span class="month">Mar</span>
                                <span class="year">2019</span>
                            </div>
                            <ul class="menu-content">
                                <li>
                                    <a href="#" class="fa fa-bookmark-o"></a>
                                </li>
                                <li><a href="#" class="fa fa-heart-o"><span>1300</span></a></li>
                                <li><a href="#" class="fa fa-comment-o"><span>13</span></a></li>
                            </ul>
                        </div>
                        <div class="data">
                            <div class="content">
                                <span class="author">Lorem Ipsum</span>
                                <h1 class="title"><a href="#">Summer Run</a></h1>
                                <p class="text">The Louis Vuitton label was founded by Vuitton in 1854 on Rue Neuve des Capucines in Paris, France. Louis Vuitton had observed that the HJ Cave Osilite trunk could be easily stacked. In 1858, Vuitton introduced his flat-bottom trunks with trianon canvas, making them lightweight and airtight. </p>
                                <a href="#" class="button">Find out more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



<footer>
    <% include footer %>
</footer>

</body>
</html>

