<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <title>To infinity</title>

    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/needlogin.css">

</head>
<body class="index-body">

<header>
    <% include nav %>
</header>



<div class="terminal" data-content="~/xin/webserver/terminal">


    <div class="terminal-hover">
        <p>Login with Facebook account</p>

    </div>
    <h3 class="hover-text" style="text-align:center;"> </h3>
    <a href="/auth/facebook">
        <div class="fblogin"></div>
    </a>
    <a href="/auth/instagram">
        <div class="iglogin"></div>
    </a>


</div>


<footer>
    <% include footer %>
</footer>

</body>
</html>
