<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <title>To infinity</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/loginstyle.css"/>
</head>
<body class="index-body">
<div id="particlesBG" class="bgBlue"></div>
<script src="/javascripts/particles.js"></script>
<header>
    <% include nav %>
</header>

<main class="container">
    <h1 class="fttext">
        Featuring!
    </h1>
    <div class="flip ffull">
        <div class="front ffull" style="background-image: url(http://blog.runningwarehouse.com/wp-content/uploads/2015/10/ASICS-Kayano-22-e1444773272100.jpg)">
            <h1 class="text-shadow bh1">Mountain Hiking</hi>
        </div>
        <div class="back ffull">
            <h2>Mountain Hiking</h2>
            <p class= ffullp>
                3 am, mustang speedin'<br>
                Two lovers, headed for a dead end<br>
                Too fast, hold tight, he laughs<br>
                Runnin' through the red lights<br>
                Hollerin' over, rubber spinnin'<br>
                Big swig, toss another beer can<br>
                Too lit, tonight, prayin'<br>
                On the moonlight<br>
            </p>
        </div>
    </div>


    <div class="flip">
        <div class="front" style="background-image: url(https://showbizinsider.ph/wp-content/uploads/2018/04/04022018-pageone-lv-archlight.jpg)">
            <h1 class="text-shadow">Running</hi>
        </div>
        <div class="back">
            <h2>Running</h2>
            <p>Can't read my,<br>
                Can't read my<br>
                No he can't read my poker face<br>
                (she's got me like nobody)<br>

            </p>
        </div>
    </div>
    <div class="flip">
        <div class="front" style="background-image: url(https://static01.nyt.com/images/2017/04/09/well/9minute-workout-promo/9minute-workout-promo-jumbo.png)">
            <h1 class="text-shadow">Workout</hi>
        </div>
        <div class="back">
            <h2>Workout</h2>
            <p>Rah-rah-ah-ah-ah-ah!<br>
                Roma-roma-mamaa!<br>
                Ga-ga-ooh-la-la!<br>
                Want your bad romance<br></p>
        </div>
    </div>
    <div class="flip">
        <div class="front" style="background-image: url(http://www.livedesignonline.com/sites/livedesignonline.com/files/styles/article_featured_standard/public/TAIT%20-%20Lady%20Gaga%20-%20Joanne%20World%20Tour%202017%2014-1.jpg?itok=UkZ0g940">
            <h1 class="text-shadow">Rave</hi>
        </div>
        <div class="back">
            <h2>Rave</h2>
            <p>Hear my sinner's prayer<br>
                It's the only one I know<br>
                It sure as hell don't rhyme<br>
                But it's as good as, good as, good as, good as gold</p>
        </div>
    </div>
</main>

<footer>
    <% include footer %>
</footer>
<script src="/javascripts/ptcConfig.js"></script>
</body>
</html>