<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body>

<header>
    <% include nav %>
</header>

<main class="container">
    <div class="jumbotron">
        <h1>Coming Soon</h1>

        <h4>Team 46: To Infinity </h4>
        <p><span class="h1strong">Hi,</span> we are currently under construtionEvents, Friend Circles, login system will be live soon</p>
    </div>
</main>

<footer>
    <% include footer %>
</footer>

</body>
</html>