<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <title>To infinity</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

<header>
    <% include nav %>
</header>

<main class="container">
<<<<<<< HEAD
    <div class ="container">
        <h1>To infinity</h1>
        
        <div class = "container2">
            <h2>Meet people with similar interests. Sports Edition.</h2>
            <h2>Coming Live Soon</h2>
        </div>
=======
    <div class="jumbotron">
        <h1>Coming Soon</h1>

        <h4>Team 46: To Infinity </h4>
        <p><span class="h1strong">Hi,</span> we are currently under construtionEvents, Friend Circles, login system will be live soon</p>
>>>>>>> b33aea3cb0fe6fdec540104497222a8831b88286
    </div>
</main>

<footer>
    <% include footer %>
</footer>

</body>
</html>
