<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <title>To infinity</title>

    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="stylesheet" href="stylesheets/cardstyle.css">

</head>
<body class="index-body">

<header>
    <% include nav %>
</header>

<main class="container">


        <!-- Top Remark -->
        <div class="container">
            <h1 class="remark centering">Recommended for you</h1>
        </div>

        <!-- 1st Card -->
        <div class="card event-card centering">

            <!-- Profile -->
            <div class="card-header">

                <div class="lefting">

                    <div>
                        <img src="https://source.unsplash.com/HfFSE4-zCPM/50x50" alt="headshot" class="event-profile-pic">

                    </div>
                    <div class="event-profile">
                        <h5>Will Street</h5>
                        <h10 class="event-dt"> April 10 at 10.05 am</h10>
                    </div>

                </div>

                <div class="righting">
                    <input type="image" href="/" src="https://image.ibb.co/fv6tBn/correct_button.png" class="btn join">

                    <input type="image" href="/" src="https://image.ibb.co/drsBxS/star_button.png" class="btn fav">

                </div>

            </div>
            <!-- Body -->
            <div class="card-body">
                <h1 class="card-title event-title">Mountain Climbing this Sunday!</h1>
                <img class="card-img-top" src="https://source.unsplash.com/rJNxgIgecqQ/500x400" alt="headshot">
                <div class="text-center">
                    <a href="#" class="btn btn-outline-primary info-but">More Information</a>
                </div>
            </div>

            <!-- Info -->
            <div class="card-footer event-dlc">
                <div class="centering">
                        <span class="event-info">
                            <h8 class="event-d">Date and Time</h8>
                            <h8>Sunday, 7th April 2018, 6.00 am</h8>
                        </span>
                    <span class="event-info">
                            <h8 class="event-l">Location</h8>
                            <h8>123, Bourke Street, Melbourne CBD, VIC 3051</h8>
                        </span>
                    <span class="event-info">
                            <h8 class="event-c">Contact</h8>
                            <h8>6422222251</h8>
                            <h8>will.street@gmail.com</h8>
                        </span>

                </div>
            </div>

        </div>

        <!-- 2nd Card -->
        <div class="card event-card centering">

            <!-- Profile -->
            <div class="card-header">
                <img src="https://source.unsplash.com/HfFSE4-zCPM/50x50" alt="headshot" class="event-profile-pic">
                <h5 class="event-profile">Will Street</h5>
                <h10 class="event-dt"> April 10 at 10.05 am</h10>
            </div>

            <!-- Body -->
            <div class="card-body">
                <h1 class="card-title event-title">Mountain Climbing this Sunday!</h1>
                <img class="card-img-top" src="https://source.unsplash.com/rJNxgIgecqQ/500x400" alt="headshot">
                <a href="#" class="btn btn-outline-primary">More</a>
            </div>

            <!-- Info -->
            <div class="card-footer event-dlc">
                <div class="centering">
                    <span class="event-d">Date</span>
                    <span class="event-dr">Sunday, 7th April 2018, 6.00 am</span>

                    <span class="event-l">Location</span>
                    <span class="event-lr">123, Bourke Street, Melbourne CBD, VIC 3051</span>

                    <span class="event-c">Contact</span>
                    <span class="event-cr">+6422222251</span>
                    <span class="event-cr">will.street@gmail.com</span>
                </div>
            </div>

        </div>


        <!-- 3rd Card -->
        <div class="card event-card centering">

            <!-- Profile -->
            <div class="card-header">
                <img src="https://source.unsplash.com/HfFSE4-zCPM/50x50" alt="headshot" class="event-profile-pic">
                <h5 class="event-profile">Will Street</h5>
                <h10 class="event-dt"> April 10 at 10.05 am</h10>
            </div>

            <!-- Body -->
            <div class="card-body">
                <h1 class="card-title event-title">Mountain Climbing this Sunday!</h1>
                <img class="card-img-top" src="https://source.unsplash.com/rJNxgIgecqQ/500x400" alt="headshot">
                <a href="#" class="btn btn-outline-primary">More</a>
            </div>

            <!-- Info -->
            <div class="card-footer event-dlc">
                <div class="centering">
                    <span class="event-d lefting">Date</span>
                    <span class="righting">Sunday, 7th April 2018, 6.00 am</span>

                    <span class="event-l lefting">Location</span>
                    <span class="right">123, Bourke Street, Melbourne CBD, VIC 3051</span>

                    <span class="event-c lefting">Contact</span>
                    <div class="righting">
                        <span>+6422222251</span>
                        <span>will.street@gmail.com</span>
                    </div>
                </div>
            </div>

        </div>





</main>

<footer>
    <% include footer %>
</footer>

</body>
</html>