<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <title>To infinity</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body class="index-body">

<header>
    <% include nav %>
</header>

<main class="container">
    <div class ="container text-center">
        <h1 class="indexH1">To infinity</h1>

        <div class = "container2">
            <h2 class="indexH2">Meet people with similar interests. Sports Edition.</h2>
            <h2 class="indexH2">Coming Live Soon</h2>
            <h2 class="indexH2">by Kenny and Xin Wei </h2>
        </div>
    </div>
</main>

<footer>
    <% include footer %>
</footer>

</body>
</html>