<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

<header>
    <% include header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Server Skeleton</h1>
        <p>Check user page</p>
    </div>
</main>

<footer>
    <% include footer %>
</footer>

</body>
</html>