<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
    <title>To infinity</title>

</head>
<body>

<header>
    <% include nav %>
</header>

<main class="container">

    



</main>

<footer>
    <% include footer %>
</footer>

</body>
</html>
