<!-- views/users.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

<header>
    <% include header %>
</header>

<main>
    <div class="jumbotron">
        <h1><%= title %></h1>
        <h3>Welcome to users list</h3>

        <% for (var name in nameList) { %>
        <p><%= nameList[name] %></p>

        <% } %>
    </div>
</main>

<footer>
    <% include footer %>
</footer>

</body>
</html>

