<!-- views/users.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

<header>
    <% include header %>
</header>




<main>
    <div class="jumbotron">
        <h1><%= title %></h1>
        <h3>Welcome to users list</h3>
        <div class="container-fluid">
            <div class="row">
                <% for (var name in nameList) { %>

                <div class="col-sm-6">

                    <div class="card">
                        <!-- Header -->
                        <div class="card-header">
                            <div class="card-header__avatar"></div><a class="card-header__follow" href="#">Follow</a>
                        </div>
                        <!-- Content-->
                        <div class="card-content">
                            <div class="card-content__username"><%= nameList[name] %></div>
                            <div class="card-content__bio">My bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus lorem a odio facilisis, a consectetur odio ullamcorper.</div>
                        </div>
                        <!-- Footer-->
                        <div class="card-footer">
                            <div class="card-footer__pens"> <span>20</span>
                                <div class="label">Age</div>
                            </div>
                            <div class="card-footer__followers"> <span>3</span>
                                <div class="label">Events</div>
                            </div>
                            <div class="card-footer__following"> <span>Melbourne</span>
                                <div class="label">Location</div><br><br><br>
                            </div>
                        </div>
                        <!--
                        <div class="card-footer"><span>    some other stuff, tba later</span></div>
                        -->
                    </div>

                </div>

                <% } %>


            </div>
        </div>
    </div>
</main>

<footer>
    <% include footer %>
</footer>

</body>
</html>

