<!-- views/users.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <% include head %>
</head>
<body>

<header>
    <% include nav %>
</header>




<main class="container">
    <div class="jumbotron">
        <h1 class="text-center">Discover People</h1>

        <div class="container-fluid">
            <div class="row">
                <% for (var index in userList) { %>

                <div class="col-sm-6">

                    <div class="card">
                        <!-- Header -->
                        <div class="card-header">
                            <div class="card-header__avatar" style="background:url(<%= userList[index].avatar %>) ;background-size: cover;  "></div>
                                <a class="card-header__follow" href="#">Follow</a>
                        </div>
                        <!-- Content-->
                        <div class="card-content">
                            <div class="card-content__username"><%= userList[index].name %></div>
                            <div class="card-content__bio"><%= userList[index].bio %></div>
                        </div>
                        <!-- Footer-->
                        <div class="card-footer">
                            <div class="card-footer__pens"> <span>20</span>
                                <div class="label">Age</div>
                            </div>
                            <div class="card-footer__followers"> <span>3</span>
                                <div class="label">Events</div>
                            </div>
                            <div class="card-footer__following"> <span>Melbourne</span>
                                <div class="label">Location</div><br><br><br>
                            </div>
                        </div>
                        <!--
                        <div class="card-footer"><span>    some other stuff, tba later</span></div>
                        -->
                    </div>

                </div>

                <% } %>


            </div>
        </div>
    </div>
</main>

<footer>
    <% include footer %>
</footer>

</body>
</html>

