@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700i|Open+Sans:600");
* {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  color: #000;
  background: #fff;
  text-align: center;
  font-weight: Bold;
}

.flip {
  position: relative;
}
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: .5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
}
.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}

.ffull {
  width: 100%;
  max-width:900px;
  left: 0%;
  min-height: 450px;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.02), 2px 2px rgba(0, 0, 0, 0.02), 3px 3px rgba(0, 0, 0, 0.02), 4px 4px rgba(0, 0, 0, 0.02), 0.125rem 0.125rem rgba(0, 0, 0, 0.02), 6px 6px rgba(0, 0, 0, 0.02), 7px 7px rgba(0, 0, 0, 0.02), 8px 8px rgba(0, 0, 0, 0.02), 9px 9px rgba(0, 0, 0, 0.02), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.02), 11px 11px rgba(0, 0, 0, 0.02), 12px 12px rgba(0, 0, 0, 0.02), 13px 13px rgba(0, 0, 0, 0.02), 14px 14px rgba(0, 0, 0, 0.02), 0.625rem 0.625rem rgba(0, 0, 0, 0.02), 16px 16px rgba(0, 0, 0, 0.02), 17px 17px rgba(0, 0, 0, 0.02), 18px 18px rgba(0, 0, 0, 0.02), 19px 19px rgba(0, 0, 0, 0.02), 1.25rem 1.25rem rgba(0, 0, 0, 0.02);
}

.flip h1 {
  font-size: 40px;
}

.flip h2 {
  font-size: 30px;
}

.text-shadow {
  margin-top: 60px;
  text-shadow: black;
}

.ffullp {
  font-size: 20px !important;
}

.bh1 {
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-size: 60px !important;
  margin-top: 150px;
  letter-spacing: 8px;

}

.before-card{
  color:white;
  font-size:35px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  margin:40px;
  letter-spacing: 3px;
  text-align:left;

}



.fttext {
  position: relative;
  font-size: 40px;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation-name: reveal-text;
  animation-name: reveal-text;
  color: #000;
  white-space: nowrap;
  cursor: default

}

.card {
  background: #FFFFFF;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-bottom:60px;
  overflow: hidden;
}

.filter {
  position: absolute;
  visibility: hidden;
}

.toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  filter: url('#gooeyness');
  height: 80px;
  justify-content: center;
  position: relative;
  width: 150px;
}

.bar {
  background: #aaa;
  position: absolute;
  width: 100px;
  height: 11px;
  transition: background 250ms linear;
}

.knob {
  background: #aaa;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transform: translateX(-30px);
  transform-origin: 50%;
  transition: transform 250ms linear, background 250ms linear;
}

.toggle.active .knob {
  animation: Activate 250ms both linear;
}

.toggle.inactive .knob {
  animation: Inactivate 250ms both linear;
}

.toggle.active .bar {
  background: #5d78b4;
}

@keyframes Activate {
  0% { background: #aaa; transform: translateX(-30px); }
  50% { transform: translateX(0px) scaleX(1.2) scaleY(.7); }
  90% { transform: translateX(24px) scaleX(0.7) scaleY(.94); }
  100% { background: #5d78b4; transform: translateX(30px); }
}

@keyframes Inactivate {
  0% { background: #5d78b4; transform: translateX(30px); }
  50% { transform: translateX(0px) scaleX(1.2) scaleY(.7); }
  90% { transform: translateX(-24px) scaleX(0.7) scaleY(.94); }
  100% { background: #aaa; transform: translateX(-30px); }
}

.eventfilter{
  position:fixed;
  margin-top:100px;
}
.filtertitle{
  color:#aaa;
  margin-bottom:-10px;
}
.filtertitle.active {
  animation: ActivateText 250ms both linear;
}

.filtertitle.inactive{
  animation: InactivateText 250ms both linear;
}
@keyframes ActivateText {
  0% { color: #aaa; }
  50% { }
  90% {  }
  100% { color: #5d78b4;}
}

@keyframes InactivateText {
  0% { color: #5d78b4; }
  50% { }
  90% {  }
  100% { color: #aaa;}
}

.filterHide{
  display:none;
}

.indexCard{
  width: 45%!important;
  margin: 22px;
  max-height: 300px;
}


.indexCard .data{
  top: 17%!important;
  bottom:auto!important;
}
.indexCard .content{
  min-height:300px!important;
}
.indexCard .text{
  margin-top:20px!important;
  max-height:40px!important;
  overflow:hidden;
}
@media only screen and (max-width: 930px) {
  .indexCard{
    width: 100%!important;
    margin: 0px;
    margin-bottom:40px;
    max-height: 500px;
  }
  .indexCard .wrapper{
    background-size: cover !important;
  }

  .indexCard .data{
    top: 46%!important;
    bottom:auto!important;
  }
  .indexCard .content{
    min-height:400px!important;
  }
  .indexCard .text{
    margin-top:20px!important;
    max-height:90px!important;
  }


}

@media only screen and (max-width: 1150px) {
  .eventfilter {
    position: absolute;
    margin-top: -20px;
    left: 50%;
    margin-left: -75px;
  }


}





