body{
    background: #ffc9b1;
}
.hero {
    display: flex;
}

.hero h1 {
    background: white;
    font-family: karla;
    font-size: 3rem;
    width: 100%;
    max-width: 700px;
    padding: 2rem;
    line-height: 1.5;
    display: block;
    position: absolute;
    transform:translateY(5rem) translateX(5rem)
}

.hero-sides {
    height: 0;
    width: calc(50% / 1);
    display: flex;
    align-items: center;
    transition: all 900ms cubic-bezier(.46,.03,.52,.96)
}

.hero-sides:hover {
    width: calc(75% / 1);
}

.hero-sides svg {
    transition: all 1s cubic-bezier(.65,.05,.36,1)
}

.hero-sides__left {
    background-image: linear-gradient(45deg, #78d9ea 0%, #a9baf6 100%);
}

.hero-sides__left:hover svg {
    transform: translateX(3rem) !important;
}

.hero-sides__right {
    background-image: linear-gradient(-45deg, #eaa4cf 0%, #ff7878 100%);
}

.hero-sides__right:hover svg {
    transform: translateX(-4rem) !important;
}

#letters {
    padding: 1.5rem;
    max-width: 250px;
    min-width: 100px;
    margin: auto;
    transform: scale(0)
}




.card {
    background: #FFFFFF;
    width: 80%;
    border-radius: 20px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom:60px;
    overflow: hidden;
    text-align: center;
    max-width:600px;
    min-height: 600px;
}

.m-dropdown {
    margin: 50px auto;
    width: 300px;
    display: block;
}
.m-dropdown .e-button {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    padding: 8px 40px 8px 15px;
    z-index: 900;
    color: #fff;
    font-weight: 900;
    position: relative;
    border: 2px solid transparent;
    margin-top: 2px;
    font-family: "Open Sans", sans-serif;
    z-index: 5;
    display: block;
    width: 300px;
    margin: 0 auto;
    background: #1b1b1b;
}
.m-dropdown .e-button:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    color: #669999;
}
.m-dropdown .e-button:hover .e-burger span {
    background: #669999;
}


.m-dropdown  {
    right: 100%;
    border-bottom-right-radius: 10px;
}
.m-dropdown .e-button .e-burger {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    width: 15px;
    height: 14px;
    transform-origin: center;
    z-index: -1;
}
.m-dropdown .e-button .e-burger span {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    left: 0;
    transform-origin: center;
}
.m-dropdown .e-button .e-burger span:first-child {
    top: 0;
    transform: none;
}
.m-dropdown .e-button .e-burger span:last-child {
    top: auto;
    bottom: 0;
    transform: none;
}

.m-dropdown .e-button.open {
    border-color: transparent;
    background: #1b1b1b;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #669999;
}
.m-dropdown .e-button.open .e-burger span {
    background: #669999;
}
.m-dropdown .e-button.open .e-burger span:first-child {
    opacity: 0;
}
.m-dropdown .e-button.open .e-burger span:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}
.m-dropdown .e-button.open .e-burger span:nth-child(3) {
    transform: translateY(-50%) rotate(45deg);
}
.m-dropdown .e-button.open .e-burger span:last-child {
    opacity: 0;
}

.m-dropdown .e-list {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #1b1b1b;
    float: left;
    overflow: hidden;
    z-index: 999;
}
.m-dropdown .e-list li {
    display: block;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);
    min-heigh:50px;
    box-sizing: border-box;
}
.m-dropdown .e-list li:last-child {
    border: none;
}
.m-dropdown .e-list li a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 15px;
    float: left;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    box-sizing: border-box;
}
.m-dropdown .e-list li a:hover {
    background: #fff;
    color: #111;
}

#bioForm{
    width:70%;
    margin-left:15%;
    margin-right:15%;
    min-height:100px;
    text-align: center;
}
.updatef{
    width:70%;
    margin-left:15%;
    margin-right:15%;
    min-height:20px;
    text-align: center;
    margin-bottom:30px
}


.biocontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: -20px;
    width: 130px;
    height: 40px;
    text-align: center;
}

.biob button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1ECD97;
    color: #1ECD97;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}
.biob button:hover {
    color: white;
    background: #1ECD97;
}
.biob button:active {
    letter-spacing: 2px;
}
.biob button:after {
    content: "Update";
}

.onclic {
    width: 40px;
    border-color: #bbbbbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ECD97;
    -webkit-animation: rotating 2s 0.25s linear infinite;
    animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
    content: "";
}
.onclic:hover {
    color: #1ECD97;
    background: white;
}

.validate {
    font-size: 13px;
    color: white;
    background: #1ECD97;
}
.validate:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.card-content__bio{
    min-height:400px;
}
.biob{
    margin-top:50px;
}
.card-content{
    min-height:250px;
}